
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TodoIstProject.Entities.Concrete.TodoIstTask
<div class="col-md-12">
    <div>
        @Html.TextBoxFor(x => x.Title)
    </div>
</div>
